* {
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

.parent-container {
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.first-sec {
    height: 100%;
    width: 50%;
    background: white;
    padding: 40px 20px 20px 20px;
}

.second-sec {
    height: 100%;
    width: 50%;
    background: url("image/flower.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom left;
    display: flex;
    position: relative;
}

.header-writeup {
    color: tomato;
}

.smart-line {
    height: 16px;
    width: 224px;
    background: tomato;
}

.header4 {
    margin-bottom: 30px;
}

.header1 {
    margin-bottom: 30px;
}

.paragraph {
    margin-bottom: 30px;
}

.navbar {
    color: white;
    display: flex;
    justify-content: space-evenly;
    z-index: 1;
    width: 100%;
}


.overlay {
    height: 100%;
    width: 100%;
    background: rgba(225, 99, 71, 0.3);
    position: absolute;
    top: 0;
    right: 0;
}

.middleparent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.middle-left {
    background: #d9d9d9;
    width: 300px;
    height: 300px;
    padding: 25px;
}

.middle-right {
    height: 400px;
    width: 330px;
    margin-left: 20px;
}

img {
    height: 100%;
    width: 100%;
}

.bottomparent {
    display: flex;
    justify-content: center;
    background: #d9d9d9;
    padding: 20px 0;
}

.bottomleft {
    width: 400px;
    height: 420px;
}

.bottomright {
    width: 400px;
    height: 390px;
}


.bottomright {
    background: orangered;
    padding: 15px 25px 15px 25px;
}

.footer {
    display: flex;
    background: orangered;
    color: white;
    padding: 20px 0;
    justify-content: space-evenly;
}

.footer-icon svg {
    width: 25px;
}


